body {
    margin: 0;
    background-color: #1a1a1a; /* Твой цвет для всего казино */
    color: white;              /* Цвет текста по умолчанию */
    min-height: 100vh;         /* Чтобы фон был на весь экран */
    
}